* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.display-flex {
  display: flex;
}
.main-width {
  max-width: 1440px;
  margin: 0 auto;
}
.color-gray {
  color: rgba(66, 66, 66, 1);
}
.color-orange {
  color: rgba(255, 144, 14, 1);
}
.color-dark1 {
  color: rgba(19, 19, 19, 1);
}
.color-dark2 {
  color: rgba(66, 66, 66, 1);
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Main Style */
body {
  max-width: 1920px;
}
/* Navbar Start */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  gap: 60px;
}
.nav-item a {
  text-decoration: none;
  font-size: 1rem;
}
.brand {
  font-size: 3rem;
  font-weight: bold;
}
