* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.display-flex {
  display: flex;
}
.main-width {
  max-width: 1440px;
  margin: 0 auto;
}
.gap {
  margin-bottom: 130px;
}
.btn {
  background-color: rgba(255, 144, 14, 1);
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
}
.color-gray {
  color: rgba(66, 66, 66, 1);
}
.color-orange {
  color: rgba(255, 144, 14, 1);
}
.color-dark1 {
  color: rgba(19, 19, 19, 1);
}
.color-dark2 {
  color: rgba(66, 66, 66, 1);
}
.color-dark3 {
  color: rgba(114, 114, 114, 1);
}
.bg-color {
  background: rgba(255, 144, 14, 0.1);
}

/* Main Style */
body {
  max-width: 1920px;
}
/* Navbar Start */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.nav-links {
  list-style: none;
  gap: 60px;
}
.nav-item a {
  text-decoration: none;
  font-size: 1rem;
}
.brand {
  font-size: 3rem;
  font-weight: bold;
}
/* Banner Section Start  */
.banner-section {
  margin-bottom: 50px;
}
.banner-tittle {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-tittle h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-tittle p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-tittle button {
  margin-bottom: 30px;
}
.banner-tittle img {
  width: 100%;
}
/* Features Section start  */
.features {
  align-items: center;
  margin-top: 80px;
}
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about {
  margin-left: 73px;
  max-width: 537px;
}
.about h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 24px;
}
.about h2 .color-dark3 {
  font-weight: 400;
}
.about p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
}
